body {
    margin: 0;
    font-family: Segoe, 'Quicksand', Verdana, sans-serif;
	background-color: white;
}

h1 {

	font-style: italic normal 500;
	font-size: 2.8em;
	color: black;
	margin: 0px;
	text-align: center;
	vertical-align: middle;
	font-weight: 600;

}

section{

	margin: 0px;
	width:100vw;
	background-color: white;

}

.white{
	color:white;
}

.app {
	max-width: 20vw;
	margin: 12px;
}

.info {
	max-width: 700px;
	font-size: 1.3em;
	color: #000;
	text-align: left;
	margin: 12px;
}

.bulletPoint{
	flex:.1;
	font-size: 30px;
	font-weight: bolder;
}

.box1{
	height: 1000px;
	width: 100vw;
	background-image: url("./content/IMG_1817.jpeg");
	background-size:cover;
	background-position: center;
	background-attachment:fixed;

}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.info-section {
	padding-top: 85px;
	padding-bottom: 85px;
	padding-left: 60px;
	padding-right: 60px;
}


.row{
	display:flex;
}

.col{
	flex:1;
}

.col-2 {
	flex: 2;
}

.block {
	display:flex;
	vertical-align: middle;
}

.icon{
	flex: .3;
	max-width: 50px;
	height:50px;
	font-size:50px;
	cursor:pointer;
	
}

.logo{
	margin-left: 0;
	text-align: left;
}

.homeButton{
	text-align: center;
	margin:auto;
	color:white;
	border:none;
	background-color: #000;
}


.text-field{
	background-color: rgb(34, 26, 15);
	text-align: center;
	color: rgb(165, 122, 76);
}

.h_ref{
	color:green;
}

.video {
	margin: 0 auto;
	height: 500px;
}

.uPaintButton{
	border-radius: 5px;
	height: 25px;
	color:white;
	background-color: #354f52;
	border:none;
	cursor:pointer;
	
}

.puttButton{
	border-radius: 5px;
	height: 25px;
	color:white;
	background-color: #84a98c;
	border:none;
	cursor:pointer;
}


#header{
    background: #000;
    padding: 3px;
    padding: 10px 20px;
    color: #fff;
	text-align: center;
}
  
  
  /* For aesthetics only ------------------------------------------------------------------*/
 
  @media only screen and (max-width: 850px) {

	.block {
		flex-direction: column;
	}
	
	.video {
		height: 300px;
		max-width: 80vw;
	}

	.col-2 {
		margin-top: 65px;
		flex: 1;
	}
	
  }

  